<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-title>contact</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <div id="button">
      <button (click)="phoneNumber()">
        <ion-icon id="phone" name="phone-portrait"></ion-icon>
      </button>
      <button (click)="liveTchat()">Live Tchat</button>
    </div>
    <app-formulaire></app-formulaire>
    <div id="slide">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div class="image1"></div>
        </ion-slide>
        <ion-slide>
          <div class="image2"></div>
        </ion-slide>
        <ion-slide>
          <div class="image3"></div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
