<ion-header>
  <ion-toolbar>
    <ion-title>Boutique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="body">
  <button id="return" (click)="goHome()"></button>
  <div id="produit1" class="produit" >
    <span class="prix">150 $</span>
    choix de l'image gagnante personaliser
  </div>
  <div id="produit2"class="produit" >
    <span class="prix">100$</span> nouvelles couleurs puce du profil/couleur
    profil
  </div>
  <div class="produit"id="produit3"><span class="prix">200$</span> article n°3</div>
</div>
</ion-content>
