
<ion-content>
  <div id="body">
    <div id="header">Boutique</div>
    <button id="return" (click)="goHome()"></button>
    <div id="produit1" class="produit" >
      <span class="prix">150 $</span>
      choix de l'image gagnante personnalisée
    </div>
    <div id="produit2" class="produit">
      <span class="prix">100$</span> nouvelles couleurs puce du profil/couleur
      profil
    </div>
    <div id="produit3" class="produit"><span class="prix">200$</span> article n°3</div>

    <audio id="shopsnd" preload="auto" loop="true">
      <source src="../../assets/sound/Inside_dreams_120_BPM.ogg" type="audio/ogg">
      <source src="../../assets/sound/Inside_dreams_120_BPM.mp3" type="audio/mpeg">
      Votre système est hélas muet...
    </audio>

  </div>
</ion-content>