<ion-content>

    <body>
     
        <div id="mainbox">
            <div id="tours">
                <span>{{ trials }}</span>
            </div>
            <div id="banque">
                <span>65765</span>
            </div>
            <input type="number" name="howmuch">
            <div id="bandit">
                <div id="roll1"></div>
                <div id="roll2"></div>
                <div id="roll3"></div>
                <div id="handle"></div>
                <div id="activate"></div>
            </div>

        </div>

    </body>

</ion-content>