<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="Projet_Machine_Sous.css">
    <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
    <title>Projet 'Machine à Sous'</title>
</head>

<body>

    <div id="mainbox">
        <div id="manche"></div>
        <div id="rouleau1"></div>
        <div id="rouleau2"></div>
        <div id="rouleau3"></div>
        <div id="bandit"></div>
        <div id="active"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            var temps, firstTime, tr1, tr2, tr3 = null;
            var tourne, r1, r2, r3 = false;
            var rnd, tours;

            tours = 0;

            $('#active').click(function() {
                if (!tourne) {
                    $('#manche').addClass('mancheanim');
                    if (tours < 5) {
                        tours++;
                        firstTime = setTimeout(initialise, 800);
                    }
                }
            });

            function initialise() {

                $('#manche').removeClass('mancheanim');
                tourne = true;
                r1 = true;
                r2 = true;
                r3 = true;
                clearTimeout(firstTime);
                temps = setInterval(caroule, 100);
            }

            function caroule() {
                if (!tr1 && !tr2 && !tr3) {
                    tr1 = setTimeout(function() {
                        r1 = false;
                    }, 5000);
                    tr2 = setTimeout(function() {
                        r2 = false;
                    }, 7000);
                    tr3 = setTimeout(function() {
                        r3 = false;
                        clearInterval(temps);
                        verdict();
                    }, 9000);
                }

                if (r1 == true) {
                    rnd = 'url(' + String(Math.floor(Math.random() * 6) + 1) + '.png)';
                    $('#rouleau1').css('background-image', rnd);
                }

                if (r2 == true) {
                    rnd = 'url(' + String(Math.floor(Math.random() * 6) + 1) + '.png)';
                    $('#rouleau2').css('background-image', rnd);
                }

                if (r3 == true) {
                    rnd = 'url(' + String(Math.floor(Math.random() * 6) + 1) + '.png)';
                    $('#rouleau3').css('background-image', rnd);
                }
            }

            function verdict() {
                tourne = false;
                clearTimeout(tr1);
                clearTimeout(tr2);
                clearTimeout(tr3);
                tr1 = null;
                tr2 = null;
                tr3 = null;
            }
        });
    </script>

</body>

</html>